.navbar-background{
    background-color: #4c96d7;
    color: black;
    
}

.navbar-title{
    /* margin-top: 10px; */
    margin-left: 10px;
}
.navbar-brand{
    display:flex;
}
.custom-link, .nav-link{
    color: black !important;
    margin-right: 20px;
    text-decoration: none;
}
.custom-link-icon{
    margin-right: 5px !important;
    text-decoration: none;
}

.active{
    color: white !important;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #140375 !important;
}
@font-face {
	font-family: "exo";
	src: url("../../fonts/Exo2-SemiBold.otf");
}
@font-face {
	font-family: "courgette";
	src: url("../../fonts/Courgette-Regular.ttf");
}

#navbar-span-mx{
    font-family: "exo";
}
#navbar-span-flow{
    font-family: "courgette";
}

